@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<div class ="container">
<h1>Stylist Details:</h1><br>

<h2>
  <p>Name: @Model.GetName()</p>

  <br>
  <p>About: @Model.GetAbout()</p>

  <br>
  <h2>Specialties</h2>

    @if(Model.GetSpecialties().Count == 0)
  {
    <p>There are no specialties to display.</p>
  }
  else
  {
    @foreach (Specialty specialty in Model.GetSpecialties())
    {
      <!-- <h2><a href="/specialties/@specialty.GetId()">@specialty.GetDescription()</a></h2> -->
        <h2><a href="/specialties/@Specialty.Find(@specialty.GetId())/specialties/@specialty.GetId()">@specialty.GetDescription()</a></h2>
    }
  }

  <h2>Add a Specialty</h2>
  <br>
  <form action="/stylists/{id}" method="post"><h2>
    <input for="specialtyId" name="specialtyId" type="hidden" value="@Model.GetId()">
    <label for="description">Specialty</label>
    <input id="description" name="description" type="text"><br>
    <br>

    <button type="submit">Add</button>
  </form>
  <br>
  <br>
  <h2>Clients</h2>

    @if(Model.GetClients().Count == 0)
  {
    <p>There are no clients to display.</p>
  }
  else
  {
    @foreach (Client client in Model.GetClients())
    {
      <h2><a href="/stylists/@Stylist.Find(@client.GetStylistId()).GetId()/clients/@client.GetId()">@client.GetName()</a></h2>
    }
  }
  <br>
  <h2>Add Clients to Stylist</h2>
  <br>
  <form action="/clients" method="post"><h2>
    <input for="clientStylistId" name="clientStylistId" type="hidden" value="@Model.GetId()">
    <label for="clientName">Client Name</label>
    <input id="clientName" name="clientName" type="text"><br>
    <label for="clientAbout">Client About</label>
    <input id="clientAbout" name="clientAbout" type="text"><br></h2>

    <button type="submit">Add</button>
  </form>
<br>
<br>
<h2><p><a href="/">Back Home</a></p></h2>
</div>
